{% extends "base.html" %}

{% block title %}
Create movie
{% endblock title %}

{% block page_title %}
Create new movie
{% endblock page_title %}

{% block content %}
<div class="max-w-md mx-auto">
    <div class="card bg-base-100 shadow-lg">
        <div class="card-body">
            <div id="error-message" class="mt-2"></div>
            
            <form hx-post="/movies" hx-target="#success-message" class="space-y-4">
                <div class="form-control">
                    <label class="label" for="title">
                        <span class="label-text">Title</span>
                    </label>
                    <input class="input input-bordered" id="title" name="title" type="text" placeholder="Enter movie title" />
                </div>
                
                <div class="form-control mt-6">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
            
            <div id="success-message" class="mt-4"></div>
            
            <div class="card-actions justify-center mt-4">
                <a href="/movies" class="btn btn-outline btn-sm">Back to movies</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}