{% extends "base.html" %}

{% block title %}
List of movie
{% endblock title %}

{% block page_title %}
movie
{% endblock page_title %}

{% block content %}
<div class="mb-10">

    {% if items %}

    <div class="mb-5">
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{"title" | capitalize }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in items %}
                    <tr class="hover">
                        <td class="font-medium">{{item.title | escape }}</td>
                        <td>
                            <a href="/movies/{{ item.id }}/edit" class="btn btn-sm btn-outline">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="flex justify-end p-4">
            <a href="/movies/new" class="btn btn-primary">
                Create
            </a>
        </div>
    </div>

    {% else %}

    <div class="hero min-h-96">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h3 class="text-2xl font-bold">Nothing Here Yet</h3>
                <p class="py-6">There are no records to display. Add a new record to get started!</p>
                <a href="/movies/new" class="btn btn-primary">
                    Create
                </a>
            </div>
        </div>
    </div>
   
    {% endif %}

    
</div>
{% endblock content %}
